<div class="row color-dorado" style="margin-top:2rem;padding: 20px;">
  <img style="margin:auto" alt="homepage" src="./assets/images/logo.png" width="180px">

  <div class="col-sm-12" style="margin-bottom: 5px;" *ngIf="membresia">
    <h3 class="color-dorado">{{'user.membership_payment.title' | translate}} {{membresia.name}}</h3>
    <h5 class="color-dorado">{{'user.membership_payment.subtitle' | translate}}</h5>
    <mat-radio-group  (change)="generateButton()" [(ngModel)] = "precio" [ngModelOptions]="{standalone: true}"class="row" aria-label="Select an option">
      <div *ngFor="let precio of membresia.prices">
        <mat-radio-button *ngIf="precio.precio > 0" [value]="precio" class="col-sm-12"  [disabled]="generando"  >{{precio.meses}} {{(precio.meses == 1)?translate.instant("user.membership_payment.month_by"):translate.instant("user.membership_payment.months_by")}} {{precio.precio}}$</mat-radio-button> 
      </div>
      
    </mat-radio-group>
  </div>


  <div class="col-sm-8" *ngIf="precio != null"> 
  

  
    <div class="row">

      <div class="col-md-12 row">
        <div class="col-sm-7">

          <div>
            <h3><span>{{'user.membership_payment.card.title' | translate}}</span></h3>
          </div>
          <form [formGroup]="cardForm">
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{'user.membership_payment.card.number.label' | translate}}</mat-label>
                  <input matInput  (input)="formatNumber()" formControlName="number" >
                  <mat-error *ngIf="cardForm.controls.number.invalid">{{'user.membership_payment.card.number.invalid' | translate}}</mat-error>

                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-label>{{'user.membership_payment.card.date.label' | translate}}</mat-label>
                  <input matInput (input)="formatFecha()" formControlName="exp" placeholder="(MM/AAAA)" >
                 
                  <mat-error *ngIf="cardForm.controls.exp.invalid">{{'user.membership_payment.card.date.invalid' | translate}}</mat-error>

                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{'user.membership_payment.card.cvc.label' | translate}}</mat-label>
                  <input matInput  (input)="formatCvc()"   formControlName="cvc" >
                  <mat-error *ngIf="cardForm.controls.cvc.invalid">{{'user.membership_payment.card.cvc.invalid' | translate}}</mat-error>

                </mat-form-field>
              </div>
            </div>

            <div class="col-sm-12 text-center"><button mat-raised-button class="futxtrm-color-dorado color-blanco" [disabled]="cardForm.invalid" (click)="procesar()">{{'user.membership_payment.card.button' | translate}}</button></div>
         
          </form>
        </div>
        <div class="col-sm-5">
          <div class="credit-card color-blanco" style="padding: 30px 30px;">
            <img src="./assets/images/chip.png" style="width: 40px;height: 35px;"  alt="">
            
            <div style="margin-top: 12px;">  <span ><h5>{{cardForm.controls.number.value}}</h5></span></div>
          
            <div><span>{{cardForm.controls.exp.value}}</span> </div> 
          </div>
        </div>
      </div>
  
    </div>

 


  </div>
  <div class="col-sm-4"  *ngIf="precio != null" >
    
    <div>
      <h3><span>Paypal</span></h3>
    </div>

      <div class="row" *ngIf="membresia">
        <div  class="col-sm-12  monto"><div class="col-sm-12">{{'user.membership_payment.paypal.title' | translate}}<span class="color-blanco"> {{membresia?.name}} {{precio?.meses}} {{(precio?.meses == 1)?translate.instant("user.membership_payment.paypal.month"):translate.instant("user.membership_payment.paypal.months")}}</span></div> </div>
        <div class="col-sm-12 row monto"><div class="col-sm-7">{{'user.membership_payment.paypal.amount' | translate}}</div><div class="col-sm-5 text-right"> <span class="color-blanco"> ${{precio?.precio}} USD</span></div> </div>
        <div class="col-sm-12 row monto"><div class="col-sm-7">{{'user.membership_payment.paypal.discount' | translate}}</div><div class="col-sm-5 text-right"> <span class="color-blanco"> {{precio?.descuento}} %</span></div> </div>
        <div class="col-sm-12 row monto"><div class="col-sm-7">{{'user.membership_payment.paypal.total' | translate}}</div><div class="col-sm-5 text-right"> <span class="color-blanco"> ${{precio?.precio - (precio?.precio * (precio?.descuento/100))}} USD</span></div> </div>
        <div class="text-center paypal"><div id="paypal" #paypal></div> </div>
        
      </div>
  </div>
</div>