


.text-center {
    text-align: center;
}

.margin-auto{
    margin: auto;
}

.margin-button-5{
    margin-bottom: 5px;
}

.success{
    color: #1e88e5;
}

::ng-deep .mat-dialog-container {
    background-color:#0e0e0e;
}