.login{

    background-image: url('../../../assets/images/background/login-bg.jpg') ;
    height: 100vh;
    display: -webkit-box;
    display: flex;
    background-size: cover;
    -webkit-box-align: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.login-box{
    max-width: 400px;
    min-width: 400px;
    margin: 0 auto;
    vertical-align: middle;
}

.top-card{
    margin-top: 0px ;
    line-height: 22px;
    font-size: 18px;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    margin-bottom: 23px;
}

.login-button{
    width: 100%;
    height: 45px;
    margin-top: 15px;
}

.login-content{
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
}

.card-login{
    margin: auto;
    max-width: 450px !important;
}

.text-info {
    color: #1e88e5!important;
}

.no-account{
    margin-top: 15px;
}

.facebook-button{
    background-color: #3f5c9a;
    width: 50%;
    margin-top: 5px;
    color: white;
}
.google-button{
    background-color: #D73D32;
    width: 50%;
    margin-top: 5px;
    color: white;
}

.f-p-text{
    text-align: center;
    font-size: 14px;
    color: #ffffffab;
  }


.hr-text {
    background-color: inherit;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #818078;
      background-color: #fcfcfa;
    }
  }

  
  // mat-icon-stepper selected color change 
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: white !important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #D0AE3D!important;
    // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color:#D0AE3D !important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: white !important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: white !important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: white !important;
    // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color:  white !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red!important;
}

::ng-deep .mat-checkbox-inner-container{
    background: white;
}