<div class="login" fxLayout="row">
  <img class="logo" alt="homepage" src="./assets/images/logo.png" width="180px">

    <mat-card fxFlex.lt-sm="100%" fxFlex.gt-sm="65%" fxFlex.md="90%"  fxFlexAlign="center" class="card-login color-blanco black-opacity">
      <mat-card-content >
        <div class="text-center">
          <span ><mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon></span>
                <p style="font-weight: 500;">{{'recover_password.title' | translate}}</p>
                <p class="f-p-text">{{'recover_password.msg' | translate}}</p>
        </div>

        <form [formGroup]="recuperarForm"   >
          <mat-form-field appearance ="outline">
            <mat-label>{{'recover_password.email.label' | translate}}</mat-label>
            <input matInput  formControlName="email" >
            <mat-error *ngIf="recuperarForm.controls.email.errors?.required">{{'recover_password.email.invalid.required' | translate}}</mat-error>
            <mat-error *ngIf="recuperarForm.controls.email.errors?.email">{{'recover_password.email.invalid.pattern' | translate}}</mat-error>
          </mat-form-field>
        
          <div fxLayout="row">
            <div fxFlex.gt-sm="50%"></div>
          
        
          </div>
          <button   mat-raised-button color="primary"  class="login-button futxtrm-color-dorado" [disabled]="recuperarForm.invalid" (click)="recuperar()">{{'recover_password.button' | translate}}<mat-icon>email</mat-icon></button>
        </form>
        <div class="text-center no-account" >

          <a class="link color-dorado"  routerLink="/ingresa">{{'recover_password.back' | translate}}</a>
        </div>
     
        
      </mat-card-content>        
  </mat-card>


</div>