<div class="row">
  <div class="col-sm-12 col-md-4">
   <mat-card class="card futxtrm-color-dorado color-blanco">
    <h3>{{'pages.bulk_load.categorie.title' | translate}}</h3>
    <p>{{'pages.bulk_load.categorie.subtitle' | translate}}</p>
    <button (click)="categorias()" mat-raised-button class="futxtrm-color-gris color-blanco">{{'pages.bulk_load.categorie.button' | translate}}<mat-icon>cloud_upload</mat-icon></button>
   </mat-card>
  </div>
  <div class="col-sm-12 col-md-4">
    <mat-card class="card futxtrm-color-dorado color-blanco">
      <h3>{{'pages.bulk_load.sections.title' | translate}}</h3>
      <p>{{'pages.bulk_load.sections.subtitle' | translate}}</p>
      <button (click)="secciones()" mat-raised-button class="futxtrm-color-gris color-blanco">{{'pages.bulk_load.sections.button' | translate}} <mat-icon>cloud_upload</mat-icon></button>
     </mat-card>
  
  </div>
  <div class="col-sm-12 col-md-4">
    <mat-card class="card futxtrm-color-dorado color-blanco">
      <h3>{{'pages.bulk_load.exercises.title' | translate}}</h3>
      <p>{{'pages.bulk_load.exercises.subtitle' | translate}}</p>
      <button (click)="entrenamientos()" mat-raised-button class="futxtrm-color-gris color-blanco">{{'pages.bulk_load.exercises.button' | translate}} <mat-icon>cloud_upload</mat-icon></button>
     </mat-card>
  
  </div>
</div>