<h2 mat-dialog-title class="text-center margin-button-5 color-dorado">{{'pages.exercises.section.new.title' | translate}}</h2>
<div mat-dialog-content class="text-center margin-button-5 content">
<form [formGroup]="entrenamientoForm" class="color-blanco">
 
 
   
    <mat-form-field  appearance ="outline">
      <mat-label>{{'pages.exercises.section.new.name' | translate}}</mat-label>
      <input matInput type="text" formControlName="ejercicio" placeholder="{{'pages.exercises.section.new.name_placeholder' | translate}}">
    </mat-form-field>

    
    <mat-form-field  appearance ="outline">
      <mat-label>{{'pages.exercises.section.new.description' | translate}}</mat-label>
      <textarea matInput  formControlName="descripcion"></textarea>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>{{'pages.exercises.section.new.requirements' | translate}}</mat-label>
      <input matInput type="text" formControlName="requerimientos" placeholder="Porteria">
    </mat-form-field>
  
    
    <mat-form-field appearance="outline">
      <mat-label>{{'pages.exercises.section.new.type' | translate}}</mat-label>
      <mat-select formControlName="tipo" class="color-blanco">
        <mat-option *ngFor="let tipo of tipos"  [value]="tipo">
          {{tipo | ejercicio}}
        </mat-option>
      
      </mat-select>
    </mat-form-field>
   
    <mat-form-field  appearance ="outline">
      <mat-label>{{'pages.exercises.section.new.repeat' | translate}}</mat-label>
      <input matInput type="text" formControlName="repeticiones" placeholder="{{'pages.exercises.section.new.repeat_placeholder' | translate}}">
    </mat-form-field>
   
   
    <mat-form-field  appearance ="outline">
      <mat-label>{{'pages.exercises.section.new.break' | translate}}</mat-label>
      <input matInput type="number" formControlName="descanso">
    </mat-form-field>
   
    <mat-form-field  appearance ="outline">
      <mat-label>{{'pages.exercises.section.new.time' | translate}}</mat-label>
      <input matInput type="number" formControlName="tiempo">
    </mat-form-field>
   
    <mat-label>{{'pages.exercises.section.new.type_video' | translate}}</mat-label>
      <mat-radio-group aria-label="Select an option" style="margin-top: 5px;" fxLayout.gt-xs="row" fxLayout.xs="column" formControlName="formato" placeholder="Seleccione el tipo de video a cargar">
        
        <div fxFlex="50">
          <mat-radio-button value="mp4">{{'pages.exercises.section.new.type_mp4' | translate}}</mat-radio-button>
        </div>
 
        <div fxFlex="50">
          <mat-radio-button value="vimeo">{{'pages.exercises.section.new.type_vimeo' | translate}}</mat-radio-button>

        </div>
      </mat-radio-group>
    
    <div *ngIf="entrenamientoForm.controls.formato.value == 'mp4'">
      <mat-form-field  appearance ="outline">
        <mat-label>{{'pages.exercises.section.new.mp4' | translate}}</mat-label>
        <input matInput type="text" formControlName="video_f" >
        <input hidden type="file" #uploader accept="video/mp4" (change)="subirImagen($event,'video')"/>
      
        <mat-icon matSuffix (click)="uploader.click()" class="upload-icon">add_photo_alternate</mat-icon>
      </mat-form-field>
  
      
      <div>
        <div style="text-align: -webkit-center;">
     
          <mat-spinner class="cargando" *ngIf="video_cargando"></mat-spinner>
    
        </div>
    
        
        <div *ngIf="urlVideo != null && entrenamientoForm.controls.video.value != ''">
  
          <video width="550" height="300" controls controlsList="nodownload">
            <source src="{{urlVideo}}" type="video/mp4">
            <source src="{{urlVideo}}" type="video/ogg">
            <source src="{{urlVideo}}" type="video/webm">
          Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>


    
    <div  *ngIf="entrenamientoForm.controls.formato.value == 'vimeo'">
      <mat-form-field  appearance ="outline">
        <mat-label>{{'pages.exercises.section.new.vimeo' | translate}}</mat-label>
        <input matInput type="text" formControlName="id_vimeo" >
        <mat-icon matSuffix  *ngIf="entrenamientoForm.controls.id_vimeo.valid && entrenamientoForm.controls.id_vimeo.value != ''" class="upload-icon">check</mat-icon>
      </mat-form-field>
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe [src]="entrenamientoForm.controls.id_vimeo.value | vimeo" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    </div>

    
    <mat-form-field  appearance ="outline">
      <mat-label>{{'pages.exercises.section.new.gif' | translate}}</mat-label>
      <input matInput type="text" formControlName="imagen_f" disabled>
      <input hidden type="file" #uploaderI accept="image/*" (change)="subirImagen($event,'image')"/>
    
      <mat-icon matSuffix (click)="uploaderI.click()"  class="upload-icon">add_photo_alternate</mat-icon>
    </mat-form-field>

    
    <div>
      <div style="text-align: -webkit-center;">
   
        <mat-spinner class="cargando" *ngIf="cargando"></mat-spinner>
  
      </div>
  
      <div *ngIf="urlImagen != null && entrenamientoForm.controls.imagen.value != ''">
        <img src="{{urlImagen}}" alt="" class="imagen-upload">
      </div>
   
    </div>
 


   
</form>
  </div>
<div mat-dialog-actions class="margin-actions float-right">
  <button mat-button (click)="onNoClick()" tabindex="-1"  class=" margin-button-5 futxtrm-color-gris">{{'pages.exercises.section.new.cancel' | translate}} <mat-icon>cancel</mat-icon></button>
  <button mat-button (click)="aceptar()" tabindex="-1"  class=" margin-button-5 futxtrm-color-dorado" [disabled]="entrenamientoForm.invalid" >{{'pages.exercises.section.new.save' | translate}} <mat-icon>cloud_upload</mat-icon></button>
</div>