

<div class="login" fxLayout="row">
  <img class="logo" alt="homepage" src="./assets/images/logo.png" width="180px">

  <button (click)="userService.logout()" mat-raised-button class="futxtrm-color-dorado logout-start">{{'header.admin.user.logout' | translate}}</button>
  
 
    <div fxFlex.lt-sm="100%" fxFlex.gt-sm="65%" fxFlex.md="90%" [ngStyle.xs]="{'margin-top':'300px'}"  fxFlexAlign="center" class=" color-blanco black-opacity container " style="padding-top: 30px;">
  
  
       
     
         <div class="row" style="justify-content: center;">
          <h2 class="color-dorado">{{'choose.title' | translate}}</h2>
        
          <div class="col-sm-12 row">
            <div  class=" col-sm-4 col-xs-12 " style="padding: 20px;" fxFlex="row">
              
                <mat-card class="card-choose">
                  <mat-card-header class="header">
                    <mat-card-title>{{'choose.categorie_title' | translate}}</mat-card-title>
                  
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      {{'choose.categorie_msg' | translate}}
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button class="button-card" mat-button (click)="navigateTo('c')">{{'choose.categorie_btn' | translate}}</button>
                  </mat-card-actions>
                </mat-card>
            
            
            </div>
            <div  class=" col-sm-4 col-xs-12 " style="padding: 20px;" fxFlex="row">
              
                <mat-card class="card-choose">
                  <mat-card-header class="header">
                    <mat-card-title>{{'choose.membership_title' | translate}}</mat-card-title>
                  
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      {{'choose.membership_msg' | translate}}
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button class="button-card" mat-button (click)="navigateTo('m')">{{'choose.membership_btn' | translate}}</button>
                  </mat-card-actions>
                </mat-card>
            
            
            </div>
            <div  class=" col-sm-4 col-xs-12 " style="padding: 20px;" fxFlex="row">
              
                <mat-card class="card-choose">
                  <mat-card-header class="header">
                    <mat-card-title>{{'choose.free_title' | translate}}</mat-card-title>
                  
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      {{'choose.free_msg' | translate}}
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button class="button-card" routerLink="/free" mat-button>{{'choose.free_btn' | translate}}</button>
                  </mat-card-actions>
                </mat-card>
            
            
            </div>
          </div>

         
        
         </div>
   

     
             
  </div>

  



</div>