<img class="logo" alt="homepage" src="./assets/images/logo.png" width="180px">

<div class="login" fxLayout="row">
    <mat-card fxFlex.lt-sm="100%" fxFlex.gt-sm="65%" fxFlex.md="90%"  fxFlexAlign="center" class="card-new-password black-opacity color-blanco" *ngIf="valido">
      <mat-card-content >
        <div class="text-center">
          <span ><mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon></span>
                <p style="font-weight: 500;">{{'new_password.title' | translate}}</p>
                <p class="f-p-text">{{'new_password.subtitle' | translate}}</p>
        </div>
        <form [formGroup]="nuevaForm"   >
          <mat-form-field>
            <mat-label>{{'new_password.password.label' | translate}}</mat-label>
            <input matInput type="password" formControlName="password" >
            <mat-error *ngIf="nuevaForm.controls.password.errors?.required">{{'new_password.password.required' | translate}}</mat-error>
        
          </mat-form-field> 
          <mat-form-field>
            <mat-label>{{'new_password.rpassword.label' | translate}}</mat-label>
            <input matInput type="password"   formControlName="rpassword" >
            <mat-error *ngIf="nuevaForm.controls.rpassword.errors?.required">{{'new_password.rpassword.required' | translate}}</mat-error>
            <mat-error *ngIf="nuevaForm.controls.rpassword.errors?.repeatInvalid">{{'new_password.rpassword.repeat' | translate}}</mat-error>

          </mat-form-field>
        
          <div fxLayout="row">
            <div fxFlex.gt-sm="50%"></div>
          
        
          </div>
          <button   mat-raised-button color="primary"  class="login-button futxtrm-color-dorado" [disabled]="nuevaForm.invalid" (click)="newPassword()">Cambiar contraseña</button>
        </form>
      
     
        
      </mat-card-content>        
  </mat-card>
    <mat-card fxFlex.lt-sm="100%" fxFlex.gt-sm="65%" fxFlex.md="90%"  fxFlexAlign="center" class="card-new-password black-opacity color-blanco" *ngIf="!valido">
      <mat-card-content >
        <div class="text-center">
          <span ><mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon></span>
                <p style="font-weight: 500;">{{'new_password.err.title' | translate}}</p>
                <p class="f-p-text">{{'new_password.err.subtitle' | translate}}</p>
                <a routerLink="/ingresa" class="link te color-dorado">{{'new_password.err.back' | translate}}</a>
        </div>


     
        
      </mat-card-content>        
  </mat-card>


</div>