<h2 mat-dialog-title class="text-center margin-button-5 color-dorado">{{'pages.free_categories.add.title' | translate}}</h2>
<div mat-dialog-content class="text-center margin-button-5">
<form class="color-blanco" [formGroup]="categoriaForm">


<div>
 
  <mat-form-field appearance="outline">
    <mat-label>{{'pages.free_categories.add.select' | translate}}</mat-label>
    <mat-select formControlName="categoria" >
      <mat-option *ngFor="let categoria of categorias" [value]="categoria._id" [disabled]="categoriaExist(categoria)">{{categoria.nombre}}</mat-option>
    </mat-select>
  </mat-form-field>

</div> 

</form>
  </div> 
<div mat-dialog-actions class="margin-actions float-right">
  <button mat-button (click)="onNoClick()" tabindex="-1"  class="margin-button-5 futxtrm-color-gris">{{'pages.free_categories.add.cancel' | translate}} <mat-icon>cancel</mat-icon></button>
  <button mat-button (click)="aceptar()" [disabled]="categoriaForm.invalid" tabindex="-1"  class="margin-button-5 futxtrm-color-dorado" >{{'pages.free_categories.add.add' | translate}} <mat-icon>add</mat-icon></button>
</div>